body{
    font-family: Montserrat;
    font-weight: 400;
    padding-top: 20px;
    background-image: url('../images/background5-01.jpg');
}
body h1{
    font-weight: 800;
    color: white;
}
form label{
    color: white;
}
form small{
    color: red;
    opacity: 1;
}
.container{
    background-image: url('../images/background5-01.jpg');
    background-size: cover;
}
input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 3;
}


