@-webkit-keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("vector-JUNE-2020-100.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }
  
  .m-intro {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    min-width: 785px;
    overflow: hidden;
    position: relative;
  }
  .m-intro:before, .m-intro:after {
    display: block;
    content: " ";
    width: 2560px;
    height: 2560px;
    position: absolute;
    margin-top: -1280px;
    margin-left: -1280px;
    transform-origin: center;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
    top: 50%;
    left: 50%;
  }
  .m-intro:before {
    background-image: url("https://image.ibb.co/dwBeKk/circle_inner.png");
    background-size: 100% auto;
    -webkit-animation: rotate 30s infinite linear;
    -moz-animation: rotate 30s infinite linear;
    -o-animation: rotate 30s infinite linear;
    animation: rotate 30s infinite linear;
  }
  .m-intro:after {
    background-image: url("https://image.ibb.co/gTN8C5/circle_outer.png");
    background-size: 100% auto;
    -webkit-animation: rotate 80s infinite linear;
    -moz-animation: rotate 80s infinite linear;
    -o-animation: rotate 80s infinite linear;
    animation: rotate 80s infinite linear;
  }
  .m-intro .e-text {
    width: 785px;
    position: relative;
    z-index: 100;
  }
  .m-intro .e-text h1 {
    color: #00b4d8;
    margin: 0;
    text-transform: uppercase;
    font-size: 108px;
    line-height: 180px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 30px 0;
    position: relative;
  }
  @supports (-webkit-background-clip: text) {
    .m-intro .e-text h1 {
      background: radial-gradient(ellipse at center, #00b4d8 0%, #00b4d8 100%);
      -webkit-text-fill-color: transparent;
    }
  }
  .m-intro .e-text .subtitle {
    font-weight: 600;
    text-transform: uppercase;
  }
  .m-intro .e-text .preamble {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  
  .e-particles-orange {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 5;
    width: 1000px;
    height: 600px;
    opacity: 0.4;
    transform: translate(-50%, -50%);
  }
  
  .e-particles-blue {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }

  .col-sm-6 {
    margin:auto;
  }